# version: "3.8"
# services:
#   backend:
#     build: ./backend
#     ports:
#       - "4000:4000"
#     environment:
#       - MONGO_URI=${MONGO_URI}
#       - JWT_SECRET=${JWT_SECRET}
#       - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
#       - FRONTEND_ORIGIN=http://localhost:3000
#     volumes:
#       - ./backend/src:/usr/src/app/src
#   frontend:
#     build: ./frontend
#     ports:
#       - "3000:80"
#     environment:
#       - REACT_APP_API_URL=http://localhost:4000



version: "3.9"
services:
  backend:
    build: ./backend
    container_name: dfv-backend
    ports:
      - "5001:5001"
    environment:
      MONGO_URI: ${MONGO_URI}
      JWT_SECRET: ${JWT_SECRET}
      FRONTEND_ORIGIN: http://localhost:3001
    networks:
      - dfv-net

  frontend:
    build: ./frontend
    container_name: dfv-frontend
    ports:
      - "3001:80"
    networks:
      - dfv-net

  nikto:
    build: ./nikto
    container_name: dfv-nikto
    networks:
      - dfv-net

networks:
  dfv-net:
    driver: bridge
